header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


p {
    width: 62%;
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-size: 35px;
    color: darkorange;
}

.yourBasket{
    width: 20%;
    display: flex;
    justify-content: center;
}

.basket{
    height: 35px;
    width: 100px;

}

.Products{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.Product{
    display: block;
    height: 250px;
    width: 150px;
    margin: 20px 30px;
}

.name{
    justify-content: center;
    display: flex;
    font-size: 20px;
}

.img{
    display: flex;
    height: 200px;
    width: 150px;
}

.Price{
    display: flex;
}

.priceLemon, .priceKumquat, .priceMandarin, .priceLime, .priceLimquat, .priceGrapefruit{
    display: flex;
    width: 75px;
    justify-content: center;
}

.Lemon, .Kumquat, .Mandarin,.Lime, .Limquat, .Grapefruit{
    display: flex;
    width: 75px;
    justify-content:center;
}
